.qmclear{}
.qmmc:after{content: ".";display:block;height:0px;clear:both;overflow:hidden;}
.qmmc img {border:none;}
.qmmc, .qmmc>span, .qmmc>a, .qmmc div>a, .qmmc dd>a, .qmmc li>a, .qmmc div>span, .qmmc dd>span, .qmmc li>span, .qmmc div.qmsub, .qmmc dl, .qmmc dd, .qmmc .qmsub>li, .qmmc ul.qmsub {text-align:left;outline:none;font-weight:normal;text-decoration:none;font-family:Arial;font-size:14px;line-height:normal;padding:0px;margin:0px;color:#333;background-color:transparent;}
.qmmc .qmiefix {z-index:0;}
.qmmc, .qmmc .qmsub, .qmmc .qmmulti{list-style:none;padding:0px;margin:0px;}
.qmmc .qmdivider{color:#ffffff;display:block;border-width:0px;border-style:solid;position:relative;}
.qmmc .qmtitle{display:block;cursor:default;white-space:nowrap;position:relative;}
.qmmc {position:relative;zoom:1;}
.qmmc .qmitem-m, .qmmc>li {display:block;white-space:nowrap;position:relative;}
.qmmc .qmitem-s, .qmmc .qmsub>li {display:block;white-space:nowrap;position:relative;}
.qmmc .qmsub{visibility:hidden;position:absolute;z-index:10;left:100%;top:0px;}
.qmmc div.qmsub{left:0px;}
.qmmc .qmcbox{cursor:default;display:block;position:relative;white-space:normal;}
.qmmc .qmmulti{display:block;float:left;position:relative;}
.qmmc .qmmulti dd{margin:0px;padding:0px;position:relative;}
.qmmc.qm-horizontal-c>li, .qmmc.qm-horizontal-c .qmitem-m, .qmsub.qm-horizontal-c>li, .qmsub.qm-horizontal-c>.qmitem-s, .qm-horizontal-c>.qmtitle, .qm-horizontal-c>.qmdivider, .qm-horizontal-c>.qmcbox, .qm-horizontal-c>li>.qmtitle, .qm-horizontal-c>li>.qmdivider, .qm-horizontal-c>li>.qmcbox {float:left;}
.qm-horizontal-c>li>.qmsub  {left:0px;top:100%}
.qmmc li:hover>.qmsub, .qmmc dd:hover>ul.qmsub {visibility:inherit;}
.qmmc .qmml0 {z-index:99;}
.qmmc .qmml1 {z-index:98;}
.qmmc .qmml2 {z-index:97;}
.qmmc .qmml3 {z-index:96;}
.qmmc .qmml4 {z-index:95;}
.qmmc .qmml5 {z-index:94;}
.qmmc .qmml6 {z-index:93;}
.qmmc .qmml7 {z-index:92;}
.qmmc .qmml8 {z-index:91;}
.qmmc .qmml9 {z-index:90;}

/*"""""""" (MAIN) Container""""""""*/
#qm0
{
	width:auto;
	padding:5px 20px;
	margin:0px;
	background-color:#7A1D24;
}


/*"""""""" (MAIN) Items""""""""*/
#qm0 .qmitem-m
{
	padding:3px 30px 3px 3px;
	margin:0px 20px 0px 0px;
	background-color:transparent;
	color:#ffffff;
	/*color:#CCCCCC;*/
	font-family:Arial;
	font-size:14px;
	text-decoration:none;
	text-align:left;
	border-width:0px 1px 0px 0px;
	border-style:solid;
	/*border-color:#CCCCCC;*/
	border-color:#C0C0C0;
}


/*"""""""" (MAIN) Hover State""""""""*/
#qm0 .qmitem-m:hover
{
	color:#FFFFFF;
	border-color:#EA151C;
}


/*"""""""" (MAIN) Active State""""""""*/
#qm0.qmmc .qmitem-m.qmactive, #qm0 li:hover>.qmitem-m.qmparent, #qm0 dd:hover>.qmitem-m.qmparent
{
	color:#ffffff;
	background-color:#1515ff;
	/*color:#FFFFFF;*/
	border-color:#EA151C;
}


/*"""""""" (SUB) Container""""""""*/
#qm0 .qmsub
{
	/*padding:15px;*/
	padding:3px;
	-moz-box-shadow:0px 0px 30px rgb(153, 153, 153);-webkit-box-shadow:0px 0px 30px rgb(153, 153, 153);-ms-box-shadow:0px 0px 30px rgb(153, 153, 153);-o-box-shadow:0px 0px 30px rgb(153, 153, 153);-khtml-box-shadow:0px 0px 30px rgb(153, 153, 153);box-shadow:0px 0px 30px rgb(153, 153, 153);
}


/*"""""""" (SUB) Items Menu Items""""""""*/
#qm0 .qmitem-s
{
	padding:3px 20px 3px 5px;
	margin:0px;
	/*color:#292929;*/
	color:#ffffff;
	font-size:14px;
	border-width:0px;
	border-color:#EA151C;
	background-color:#7A1D24;
}


/*"""""""" (SUB) Hover State""""""""*/
#qm0 .qmitem-s:hover
{
	/*color:#EA151C;*/
	color:#ffffff;
	/*background-color:#151515;*/
	background-color:#1515ff;
	text-decoration:none;
}


/*"""""""" (SUB) Parent Hover State""""""""*/
#qm0 .qmitem-s.qmparent:hover
{
	/*opacity:1;*/
	opacity:0.9;
}


/*"""""""" (SUB) Active State""""""""*/
#qm0.qmmc .qmitem-s.qmactive, #qm0 ul li:hover>.qmitem-s.qmparent, #qm0 ul dd:hover>.qmitem-s.qmparent
{
	/*color:#EA151C;*/
	color:#ffffff;
	/*background-color:#151515;*/
	background-color:#1515ff;
	text-decoration:none;
}


/*"""""""" Individual Titles""""""""*/
#qm0 .qmtitle
{
	margin:3px 5px 5px 0px;
	color:#292929;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
}


/*"""""""" Individual Horizontal Dividers""""""""*/
#qm0>.qmdivider, #qm0 .qmsub>.qmdivider, #qm0 dd>.qmdivider, #qm0>li>.qmdivider, #qm0 .qmsub>li>.qmdivider
{
	height:3px;
	/*background-color:#292929;*/
	background-color:#7A1D24;
	color:#ffffff;
	/*margin:4px 0px;*/
	margin:1px 0px;
}


/*"""""""" Content Box""""""""*/
body #qm0 span.qmcbox
{
	width:200px;
	padding:10px;
	font-family:Arial;
	font-size:12px;
}


/*"""""""" Content Box DIV""""""""*/
body #qm0 span.qmcbox div
{
	width:400px;
	height:400px;
	padding:3px;
	margin:5px;
	border-width:1px;
	border-style:solid;
	-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;-ms-border-radius:3px 3px 3px 3px;-o-border-radius:3px 3px 3px 3px;-khtml-border-radius:3px 3px 3px 3px;border-radius:3px 3px 3px 3px;
}


/*"""""""" Custom Rule""""""""*/
ul#qm0 .qmparent
{
	background-image:url(qmimages/arrow_17.gif);
	background-repeat:no-repeat;
	background-position:90% center;
}


/*"""""""" Custom Rule""""""""*/
ul#qm0 li:hover > .qmitem-m.qmparent
{
	background-image:url(qmimages/arrow_15.gif);
}


/*"""""""" Custom Rule""""""""*/
ul#qm0 .qmsub li .qmparent
{
	background-image:url(qmimages/arrow_16.gif);
}


/*"""""""" Custom Rule""""""""*/
ul#qm0 .qmsub li:hover > .qmitem-s.qmparent
{
	background-image:url(qmimages/arrow_13.gif);
}
